/* -------------------------------------------------------------------------------------

                Common properties

-------------------------------------------------------------------------------------- */
$main_font: 'Montserrat', sans-serif;
$second_font: 'Roboto', sans-serif;
$bg_color: #f8f8f8;
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin flex_wrap($value) {
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}
@mixin space_between($value) {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: $value;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: $main_font;
}
a {
  text-decoration: none;
  color: #777777;
}
.wrapper {
  position: relative;
  max-width: 1782px;
  margin: 0 auto;
}
.clr {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
/*=============================================================================================================

                    Header

=============================================================================================================*/
.page-header {
  background: #333;
  color: #777;
  font-size: 13px;
  padding: 0 19.2%;
  .currency {
    float: left;
    margin-top: 15px;
    #currency {
      border: none;
      background: #333;
      color: #777;
      outline: none;
      padding-right: 5px;
    }
  }
  .basket {
    float: right;
    background: #00c8c8 url("../img/basket-icon.png") no-repeat 22px 14px;
    padding: 14px 35px;
    .purchases {
      border: none;
      outline: none;
      background: #00c8c8;
      color: white;
      margin-left: 20px;
    }
  }
  .reg-sign-in {
    float: right;
    margin-top: 15px;
    margin-right: 7.85%;
    text-transform: capitalize;
    .register {
      margin-right: 30px;
    }
  }
}
/*=============================================================================================================

                    Clothing-categories

=============================================================================================================*/
.clothing-categories {
  background: $bg_color;
  padding-bottom: 45px;
  padding-top: 32px;
  .logo {
    float: left;
    text-transform: uppercase;
    word-spacing: 5px;
    .avenue {
      color: #222222;
      font-size: 24px;
      font-weight: bold;
    }
    .fashion {
      @extend .avenue;
      font-weight: normal;
    }
  }
  .main-menu {
    float: right;
    margin-top: 12px;
    margin-right: 6.7%;
    .item {
      position: relative;
      display: inline-block;
      margin-right: 50px;
      .current {
        color: #00c8c8;
      }
      & > a {
        text-transform: uppercase;
        font-size: 13px;
        color: #222222;
      }
      &:not(:nth-child(3)):not(:nth-child(4)) {
        &::after {
          content: '';
          background: url("../img/custom-arrow.png") no-repeat center;
          width: 8px;
          height: 5px;
          position: absolute;
          top: 130%;
          left: 0;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .search-form {
    position: relative;
    float: right;
    margin-top: 5px;
    .search {
      width: 190px;
      height: 30px;
      padding: 0 30px 0 10px;
      border: 1px solid #e7e7e7;
      background: transparent;
    }
    &::before {
      content: '';
      background: url("../img/search-icon.png") no-repeat;
      width: 13px;
      height: 15px;
      position: absolute;
      top: 7.5px;
      right: 11px;
    }
  }
}
/*=============================================================================================================

                    Intro

=============================================================================================================*/
.intro {
  background: url("../img/city.png") no-repeat center 20%;
  text-align: center;
  .darken {
    background: rgba(51, 51, 51, .75);
    color: white;
    text-transform: uppercase;
    position: relative;
    height: 450px;
    .intro-wrapper {
      max-width: 1900px;
      margin: 0 auto;
      .ave {
        position: absolute;
        left: 0;
        right: 0;
        top: 15%;
        font-family: $second_font;
        color: rgba(255, 255, 255, .05);
        span {
          display: inline-block;
          margin-right: 0.64em;
          font-size: 450px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .heading {
        position: absolute;
        top: 50%;
        margin-top: -62px;
        left: 0;
        right: 0;
        h1 {
          font-size: 48px;
          span {
            font-weight: bold;
          }
        }
        h2 {
          font-size: 30px;
          margin-top: 45px;
        }
      }
    }
  }
}
/*=============================================================================================================

                    Content

=============================================================================================================*/
.content {
  .content-wrapper {
    h2 {
      font-size: 18px;
      color: #575153;
      text-transform: uppercase;
      margin-bottom: 27px;
    }
    address {
      font-size: 13px;
      color: #727272;
      text-transform: uppercase;
      margin-bottom: 18px;
    }
    p{
      font-family: $second_font;
      color: #8e8c8c;
      font-size: 15px;
      line-height: 150%;
    }
  }
}
.content {
  padding-top: 60px;
  .content-wrapper {
    max-width: 1900px;
    margin: 0 auto;
    .locations {
      width: 63%;
      margin: 0 auto 62px;
      .item {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        .view-details {
          width: 55.8%;
          padding: 18.5px 0;
          color: #454647;
          font-size: 16px;
          text-transform: uppercase;
          background: transparent;
          border: 2px solid #737373;
          cursor: pointer;
          letter-spacing: 0.2em;
          margin-top: 28px;
          @include transition(background 0.1s ease, color 0.1s ease, border 0.1s ease);
          &:hover {
            color: white;
            background: #00c8c8;
            border: 2px solid #00c8c8;
          }
        }
      }
    }
    .map {
      position: relative;
      display: inline-block;
      border: none;
      width: 64.95%;
      .layer {
        padding-top: 43%;
        height: 0;
      }
      .frame {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: none;
      }
    }
    .details {
      display: inline-block;
      margin-left: -4px;
      width: 35%;
      background: $bg_color;
      padding: 40px 0 4.26% 30px;
      vertical-align: top;
      .location-info {
        margin-top: 25px;
        .icon {
          display: block;
          padding: 2px 0 2px 25px;
          font-size: 14px;
          color: #8e8c8c;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          &.position {
            background: url("../img/position-icon.png") no-repeat left center;
          }
          &.phone {
            background: url("../img/phone-icon.png") no-repeat left center;
          }
          &.site {
            background: url("../img/site-icon.png") no-repeat left center;
          }
          &.email {
            background: url("../img/email-icon.png") no-repeat left center;
          }
          &.time {
            background: url("../img/time-icon.png") no-repeat left center;
          }
        }
      }
      .socials {
        margin-top: 60px;
        .social {
          display: inline-block;
          width: 30px;
          height: 30px;
          @include border_radius(50%);
          margin-right: 10px;
          &.facebook {
            background: #727272 url("../img/facebook-small.png") no-repeat center;
          }
          &.twitter {
            background: #727272 url("../img/twitter-small.png") no-repeat center;
          }
          &.instagram {
            background: #727272 url("../img/instagram-small.png") no-repeat center;
          }
          &.pinterest {
            background: #727272 url("../img/pinterest-small.png") no-repeat center;
          }
          &:hover {
            background-color: #00c8c8;
          }
        }
      }
    }
  }
}
/*=============================================================================================================

                    About-us

=============================================================================================================*/
.about-us {
  margin-top: 105px;
  background: $bg_color;
  padding: 60px 0 55px;
  .about-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .footer-menu {
      @include flex;
      @include flex_wrap(wrap);
      @include space_between(space-between);
      .item {
        .link {
          display: block;
          font-size: 14px;
          color: #727272;
          margin-bottom: 16px;
          &.current {
            color: #00c8c8;
          }
          &:first-child {
            font-size: 13px;
            color: #575153;
            text-transform: uppercase;
            margin-bottom: 30px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        address {
          font-size: 14px;
          color: #727272;
          .phone {
            display: block;
            margin-top: 32px;
          }
          .email {
            display: block;
          }
        }
      }
    }
    .banners {
      margin-top: 50px;
      text-align: center;
      .award {
        float: left;
        background: #333333;
        font-weight: bold;
        color: white;
        font-size: 36px;
        text-transform: uppercase;
        width: 47.5%;
        padding: 57px 0;
        line-height: 120%;
        span {
          display: block;
        }
        .weight {
          font-weight: normal;
        }
      }
      .social {
        float: right;
        background: #00c8c8;
        width: 47.5%;
        padding: 81px 0;
        .social-link {
          display: inline-block;
          width: 35px;
          height: 35px;
          margin-right: 10%;
          &.facebook {
            background: url("../img/social-sprite.png") no-repeat 0 0;
          }
          &.twitter {
            background: url("../img/social-sprite.png") no-repeat -73px 0;
          }
          &.instagram {
            background: url("../img/social-sprite.png") no-repeat -161px 0;
          }
          &.pinterest {
            background: url("../img/social-sprite.png") no-repeat -248px 0;
          }
          &:first-child {
            margin-right: 7%;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
/*=============================================================================================================

                    Footer

=============================================================================================================*/
.page-footer {
  text-align: right;
  background: #333333;
  color: #999999;
  padding: 15px 0;
  .footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .avenue-fashion {
      float: left;
    }
    .design-by {
      margin-right: 3%;
    }
  }
}
/*=============================================================================================================

                    Media

=============================================================================================================*/
@media screen and (max-width: 1500px) {
  .intro {
    .darken {
      .intro-wrapper {
        .ave {
          top: 33%;
          span {
            font-size: 350px;
            margin-right: 0.4em;
          }
        }
      }
    }
  }
  .content {
    .content-wrapper {
      .locations {
        width: 85%;
        .item {
          .view-details {
            width: 45%;
            padding: 12px 0;
            font-size: 14px;
          }
        }
      }
      .map {
        display: block;
        width: 80%;
        margin: 0 auto 1%;
      }
      .details {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 2%;
      }
    }
  }
}
@media screen and (max-width: 1208px) {
  .content {
    .content-wrapper {
      .locations {
        width: 94%;
      }
    }
  }
}
@media screen and (max-width: 1130px) {
  .clothing-categories {
    .logo {
      float: none;
      display: block;
      text-align: center;
    }
    .main-menu {
      float: none;
      display: block;
      margin-right: 0;
      text-align: center;
    }
  }
}
@media screen and (max-width: 991px) {
  .page-header {
    padding: 0 5%;
  }
  .content {
    .content-wrapper {
      .locations {
        width: 100%;
        .item {
          display: block;
          width: 60%;
          margin: 0 auto 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .map {
        width: 94%;
      }
      .details {
        width: 94%;
        .socials {
          margin-top: 25px;
        }
      }
    }
  }
  .about-us {
    .about-wrapper {
      .footer-menu {
        justify-content: space-around;
        padding: 0 10%;
        .item {
          width: 30%;
          margin: 0 10% 40px;
          &:last-child {
            margin-bottom: 0;
            width: 40%;
          }
        }
      }
      .banners {
        .award {
          font-size: 28px;
          padding: 50px 0;
        }
        .social {
          padding: 64px 0;
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .intro {
    .darken {
      .intro-wrapper {
        .ave {
          top: 43%;
          span {
            font-size: 300px;
            margin-right: 0.2em;
          }
        }
        .heading {
          h1 {
            font-size: 30px;
          }
          h2 {
            font-size: 24px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .clothing-categories {
    text-align: center;
    .search-form {
      float: none;
      display: inline-block;
      margin-top: 15px;
    }
    .main-menu {
      .item {
        margin-right: 3%;
      }
    }
  }
  .about-us {
    .about-wrapper {
      .banners {
        .award {
          padding: 41px 0;
        }
        .social {
          padding: 55px 0;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .about-us {
    margin-top: 10px;
    .about-wrapper {
      .banners {
        .award {
          width: 70%;
          margin: 0 auto 15px;
          font-size: 22px;
          float: none;
          padding: 35px 0;
        }
        .social {
          width: 70%;
          float: none;
          margin: 0 auto;
          padding: 42px 0;
        }
      }
    }
  }
  .page-footer {
    text-align: center;
    .footer-wrapper {
      .avenue-fashion {
        display: block;
        float: none;
        margin-bottom: 10px;
      }
      .design-by {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .intro {
    .darken {
      height: 300px;
      .intro-wrapper {
        .ave {
          top: 37%;
          span {
            font-size: 220px;
          }
        }
        .heading {
          margin-top: -31px;
          h1 {
            font-size: 24px;
          }
          h2 {
            font-size: 18px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 690px) {
  .content {
    .content-wrapper {
      .locations {
        .item {
          width: 80%;
        }
      }
    }
  }
  .about-us {
    .about-wrapper {
      .footer-menu {
        padding: 0;
        .item {
          width: 100%;
          margin: 0 0 30px 0;
          text-align: center;
          &:last-child {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .page-header {
    padding: 0 1% 10px;
    .reg-sign-in {
      float: left;
    }
  }
}
@media screen and (max-width: 530px) {
  .intro {
    .darken {
      .intro-wrapper {
        .ave {
          top: 64%;
          span {
            margin-right: 0.15em;
            font-size: 126px;
          }
        }
        .heading {
          h1 {
            font-size: 20px;
          }
          h2 {
            font-size: 16px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .about-us {
    .about-wrapper {
      .banners {
        .award {
          width: 90%;
          font-size: 20px;
          padding: 26px 0;
        }
        .social {
          width: 90%;
          padding: 31px 0;
        }
      }
    }
  }
}
@media screen and (max-width: 455px) {
  .clothing-categories {
    .main-menu {
      margin: 15px 0 0 5%;
      .item {
        display: block;
        text-align: left;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .content {
    .content-wrapper {
      .locations {
        .item {
          .view-details {
            width: 70%;
          }
        }
      }
      .map {
        width: 98%;
      }
      .details {
        width: 98%;
        padding: 4% 2%;
      }
    }
  }
}