* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: #777777;
}
.wrapper {
    position: relative;
    width: 1782px;
    margin: 0 auto;
}
/*=============================================================================================================

                    Header

=============================================================================================================*/
.page-header {
    position: relative;
    background: #f8f8f8;
    padding-bottom: 45px;
}
.page-header::after {
    content: '';
    display: block;
    clear: both;
}
.page-header .topbar{
    background: #333333;
    color: #777777;
    font-size: 13px;
}
.page-header .topbar::after {
    content: '';
    display: block;
    clear: both;
}
.page-header .topbar .currency {
    float: left;
    margin-top: 15px;
    margin-left: 305px;
}
.page-header .topbar #currency {
    border: none;
    background: #333333;
    color: #777777;
    outline: none;
    padding-right: 5px;
}
.page-header .topbar .basket {
    float: right;
    background: #00c8c8 url("../img/basket-icon.png") no-repeat 22px 14px;
    padding: 14px 35px;
    margin-right: 305px;
}
.page-header .topbar .basket .purchases {
    border: none;
    outline: none;
    background: #00c8c8;
    color: white;
    margin-left: 20px;
}
.page-header .topbar .reg-sign-in {
    float: right;
    margin-top: 15px;
    margin-right: 82px;
    text-transform: capitalize;
}
.page-header .topbar .reg-sign-in .register {
    margin-right: 30px;
}
.page-header .topbar .reg-sign-in .current {
    color: #00c8c8;
}
.page-header .logo {
    float: left;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-top: 32px;
}
.page-header .logo .avenue, .page-header .logo .fashion {
    color: #222222;
    font-size: 24px;
}
.page-header .logo .avenue {
    font-weight: bold;
}
.page-header .main-menu {
    float: right;
    margin-top: 44px;
    margin-right: 120px;
}
.page-header .main-menu .item {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}
.page-header .main-menu .item:last-child {
    margin-right: 0;
}
.page-header .main-menu .item:not(:nth-child(3)):not(:nth-child(4))::after {
    content: '';
    background: url("../img/custom-arrow.png") no-repeat center;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 130%;
    left: 0;
}
.page-header .main-menu .item .current {
    color: #00c8c8;
}
.page-header .main-menu .item > a {
    text-transform: uppercase;
    font-size: 13px;
    color: #222222;
}
.page-header .search-form {
    position: relative;
    float: right;
    margin-top: 37px;
}
.page-header .search-form::before {
    content: '';
    background: url("../img/search-icon.png") no-repeat;
    width: 13px;
    height: 15px;
    position: absolute;
    top: 7.5px;
    right: 11px;
}
.page-header .search-form .search {
    width: 190px;
    height: 30px;
    outline: none;
    padding: 0 30px 0 10px;
    border: 1px solid #e7e7e7;
    background: transparent;
}
/*=============================================================================================================

                    Intro

=============================================================================================================*/
.intro {
    background: url("../img/city.png") no-repeat center -140px;
    text-align: center;
}
.intro .darken {
    background: rgba(51, 51, 51, .75);
    color: white;
    text-transform: uppercase;
    position: relative;
    height: 450px;
}
.intro .darken .intro-wrapper {
    width: 1900px;
    margin: 0 auto;
}
.intro .darken .ave {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .05);
    font-size: 450px;
}
.intro .darken .ave span {
    display: inline-block;
    margin-right: 0.69em;
}
.intro .darken .ave span:last-child {
    margin-right: 0;
}
.intro .darken .heading {
    position: absolute;
    top: 50%;
    margin-top: -62px;
    left: 0;
    right: 0;
}
.intro .darken .heading h1 {
    font-size: 48px;
}
.intro .darken .heading h1 span {
    font-weight: bold;
}
.intro .darken .heading h2 {
    font-size: 30px;
    margin-top: 45px;
}
.intro .darken .heading h2 span {
    color: #00c8c8;
}
/*=============================================================================================================

                    Content

=============================================================================================================*/
.content {
    margin-top: 60px;
}
.content::after {
    content: '';
    display: block;
    clear: both;
}
.content-wrapper {
    width: 1170px;
    margin: 0 auto;
}
.content .sign,
.content .reg {
    display: inline-block;
    width: 49.8%;
}
.content .sign h2,
.content .reg h2 {
    font-size: 18px;
    color: #575153;
    text-transform: uppercase;
    margin-bottom: 44px;
}
.content .sign {
    vertical-align: top;
    padding-right: 33px;
}
.content .reg {
    padding-left: 32px;
    border-left: 1px solid #eeeeee;
}
.content .sign .sign-form .field,
.content .reg .register-form .field {
    display: block;
    width: 100%;
    padding: 11.5px 0 11.5px 9px;
    margin-bottom: 34px;
    border: 1px solid #e7e7e7;
    outline: none;
}
.content .field::-moz-placeholder {
    font-size: 15px;
    color: #989898;
}
.content .field::-webkit-input-placeholder {
    font-size: 15px;
    color: #989898;
}
.content .field:-ms-input-placeholder {
    font-size: 15px;
    color: #989898;
}
.content .field:focus::-moz-placeholder {
    opacity: 0;
    transition: 0.3s ease;
}
.content .field:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.3s ease;
}
.content .field:focus:-ms-input-placeholder {
    opacity: 0;
    transition: 0.3s ease;
}
.content .sign .sign-form .sign-in {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background: #00c8c8;
    border: none;
    outline: none;
    padding: 20.5px 45px;
    margin-left: 1px;
}
.content .sign .sign-form .sign-in:hover {
    background: #08b1b1;
}
.content .sign .sign-form .sign-link {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #00c8c8;
    float: right;
    margin-top: 22px;
}
.content .sign .sign-form .sign-link .arrow,
.content .reg .register-form .text .reg-link .arrow {
    display: inline-block;
    background: url("../img/arrow-right.png") no-repeat center;
    width: 15px;
    height: 14px;
    vertical-align: middle;
    margin-left: 4px;
}
.content .reg .register-form #sign-up {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
.content .reg .register-form #sign-up + label {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #8e8c8c;
}
.content .reg .register-form .create-account {
    text-transform: uppercase;
    font-size: 16px;
    color: #454647;
    letter-spacing: 0.2em;
    border: 2px solid #737373;
    outline: none;
    cursor: pointer;
    background: transparent;
    padding: 18.5px 33px;
    margin-top: 26px;
}
.content .reg .register-form .create-account:hover {
    background: #00c8c8;
    color: white;
    border-color: #00c8c8;
}
.content .reg .register-form .text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #8e8c8c;
    float: right;
    margin-top: 35px;
    line-height: 130%;
    text-align: right;
}
.content .reg .register-form .text .reg-link {
    color: #00c8c8;
}
/*=============================================================================================================

                    Footer

=============================================================================================================*/
.page-footer {
    margin-top: 124px;
    background: #f8f8f8;
    padding-top: 60px;
}
.page-footer::after {
    content: '';
    display: block;
    clear: both;
}
.page-footer .footer-wrapper {
    width: 1200px;
    margin: 0 auto;
}
.page-footer .footer-menu {
    text-align: center;
}
.page-footer .footer-menu .item {
    display: inline-block;
    margin-right: 95px;
    vertical-align: top;
}
.page-footer .footer-menu .item:last-child {
    margin-right: 0;
}
.page-footer .footer-menu .item .link {
    display: block;
    font-size: 14px;
    color: #727272;
    margin-bottom: 16px;
    text-align: left;
}
.page-footer .footer-menu .item .link:first-child {
    font-size: 13px;
    color: #575153;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.page-footer .footer-menu .item .link:last-child {
    margin-bottom: 0;
}
.page-footer .footer-menu .item .current {
    color: #00c8c8;
}
.page-footer .footer-menu .item address {
    font-size: 14px;
    color: #727272;
    text-align: left;
}
.page-footer .footer-menu .item address .phone {
    display: inline-block;
    margin-top: 30px;
}
.page-footer .footer-menu .item address .email {
    display: inline-block;
    margin-top: 17px;
}
.page-footer .banners {
    margin-top: 50px;
    text-align: center;
}
.page-footer .banners .award {
    display: inline-block;
    background: #333333;
    font-weight: bold;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    padding: 57px 67px;
    margin-right: 26px;
    line-height: 120%;
}
.page-footer .banners .award span {
    font-weight: normal;
}
.page-footer .banners .social {
    display: inline-block;
    background: #00c8c8;
    padding: 81px 133px;
    vertical-align: top;
}
.page-footer .banners .social .social-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 55px;
}
.page-footer .banners .social .social-link:first-child {
    margin-right: 40px;
}
.page-footer .banners .social .social-link:last-child {
    margin-right: 0;
}
.page-footer .banners .social .facebook {
    background: url("../img/social-sprite.png") no-repeat 0 0;
}
.page-footer .banners .social .twitter {
    background: url("../img/social-sprite.png") no-repeat -73px 0;
}
.page-footer .banners .social .instagram {
    background: url("../img/social-sprite.png") no-repeat -161px 0;
}
.page-footer .banners .social .pinterest {
    background: url("../img/social-sprite.png") no-repeat -248px 0;
}
.page-footer .copyright {
    text-align: right;
    background: #333333;
    color: #999999;
    margin-top: 55px;
    padding: 15px 0;
}
.page-footer .copyright .avenue-fashion {
    float: left;
}
.page-footer .copyright .design-by {
    margin-right: 35px;
}